.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.rootHeader {
    background-color: black;
    width: 100vw;
    margin-top: 0px;
    height: 20vh;
    padding-top: 50px;
    color: white;
}

.maintitle {
    color: white;
    text-decoration: none;
}

