main{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rootHeader {
    background-color:black;
    width: 1000px;
    margin-top: 0px;
    height: 20vh;
    padding-top: 50px;
    color: white;
}
footer {
    margin: 0px;
    padding-top: 350px;
    margin-left: 900px;
}